flask_app_withEmbedding_before.py
local.py
test.py
temp.py
/__pycache__
/src/meaning_dict.pkl
/src/trainAll_embedding_state_epoch5.pth
/src/embedding_dict.pkl
/src/embedding_dict_5000.pkl
/src/trainAll_embedding_state_epoch2.pth
/src/trainAll_state.pth
/src/trainAll_embedding_epoch10.pth
/src/embedding_dict_new.pkl
/src/embedding_dict_5000_new.pkl
/src/test_embedding_state.pth
/src/test_embedding.pth
/src/test.pth
/src/trainAll_embedding_state_epoch10.pth